In [79]:
import pandas as pd
#import datetime
print('Inicio del primer paso')
directorioBase = '/home/jorge/Proyectos Python/Mapfre/ProcesosPeru/';

%cd $directorioBase
fichero = 'Bitacora_Diaria_PER_07_Feb_2019.xlsx'

temporal=pd.read_excel(fichero,usecols=[1,5,6,7,8,9])
temp1=temporal[temporal.Status == 'ENDED OK'].dropna()
temp1['Start']='2019/'+temp1['Start']
temp1['End']='2019/'+temp1['End']
temp1['Time']='0 days '+temp1['Time']
temp1['Start']=pd.to_datetime(temp1['Start'],format="%Y/%m/%d %H:%M")
temp1['End']=pd.to_datetime(temp1['End'],format="%Y/%m/%d %H:%M")
temp1['Time']=pd.to_timedelta(temp1['Time'])
print('Fin del primer paso')

Inicio del primer paso
/home/jorge/Proyectos Python/Mapfre/ProcesosPeru
Fin del primer paso

In [81]:
temp1.describe()

                         Time
count                    2784
mean   0 days 00:03:38.886135
std    0 days 00:32:03.053845
min           0 days 00:00:00
25%           0 days 00:00:02
50%           0 days 00:00:03
75%           0 days 00:00:17
max           0 days 11:43:20

In [82]:
temp1.head()

,File,Process,Start,End,Time,Status
0,ctmrpln_all.sh,UT-L-012,2019-02-07 00:05:00,2019-02-07 00:06:00,00:00:55,ENDED OK
1,ctmcontb.sh,UT-L-011,2019-02-07 00:05:00,2019-02-07 00:05:00,00:00:10,ENDED OK
2,ctmudly.sh,UT-L-010,2019-02-07 00:05:00,2019-02-07 00:05:00,00:00:32,ENDED OK
3,ctmrpln.sh,UT-L-008,2019-02-07 00:03:00,2019-02-07 00:03:00,00:00:25,ENDED OK
4,ctmsetvar.sh,UT-L-007,2019-02-07 00:03:00,2019-02-07 00:03:00,00:00:02,ENDED OK